<main>
    <section class="form-section">
        <img src="/assets/svg/logo.svg" alt="Logo MoveIt">
        <h2>{{ title }}</h2>
        <!-- todo o conteúdo que tiver dentro da tag app-default-layout será injetado no ng-content -->
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button class="primary-btn" (click)="submit()">{{ primaryBtnText }}</button>
            <div class="divider">
                <div></div>
                <span>OU</span>
                <div></div>
            </div>
            <button class="secondary-btn">{{ secondaryBtnText }}</button>
        </div>
    </section>
    <section class="main-section">
        <h1>You should MoveIt!</h1>
        <img src="/assets/svg/illustration.svg" alt="Illustration ofb oy riding a skateboard">
    </section>
</main>
