<app-layout title="Boas vindas! Realize o seu login" primaryBtnText="Fazer Login" secondaryBtnText="Faça o seu cadastro">
    <form [formGroup]="loginForm">
        <app-input inputName="email" label="Email" type="email" placeholder="email@email.com"
            formControlName="email">
            <img src="/assets/svg/envelope.svg" alt="envelope" >
        </app-input>

        <app-input inputName="password" label="Digite sua senha" type="password" formControlName="password">
            <img src=" /assets/svg/padlock.svg" alt="padlock" >
        </app-input>

        <span>Esqueceu sua senha?</span>
    </form>
</app-layout>