@import 'src/styles/variables.scss';

.input-wrapper {
    color: $dark-gray;
    font-size: 16px;
    text-align: start;

    label {
        margin-bottom: 10px;
    }

    .input-content {
        width: 100%;
        display: flex;
      
        .icon {
            padding: 12px;
            background-color: $purple;
            border-radius: 0 8px 8px 0;

            img {
                height: 20px;
            }
        }
    }

    input {
        border-radius: 8px 0 0 8px;
        background-color: $input-gray;
        padding: 12px 0 12px 20px;
        width: 100%;
        font-size: 16px;
        border: none;
    }
}